<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars Scrape</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
      </head>
      

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
  <!-- Mars Listings -->
  <div class="container">

    <div class="jumbotron text-left">
      <div class="row" id="mars_news">
        <div class="col-md-12">
          {% if scrape_dict is not none %}
          <h2 class="heading">Latest Mars News</h2>
          <h4>{{scrape_dict.mars_news.news_title}}</h4>
          <small>{{scrape_dict.mars_news.news_date}}</small>
          <p>{{scrape_dict.mars_news.news_p}}<a href="https://mars.nasa.gov/news " target="__blank"> visit source</a>
            {% endif %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Top Mars Image</h2>
          <img src="{{scrape_dict.top_img_url}}" alt="top mars image" class="img-responsive">
          <p>
            <small>
              <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" target="__blank">visit source</a>
            </small>
          </p>
        </div>
        <div class="col-md-6">
          <h2>Current Weather on Mars</h2>
          <small>{{scrape_dict.mars_weather}}</small>
          <h2>Mars Facts</h2>
          {{scrape_dict.html_table | safe}}
        </div>
      </div>
      <div class="row">
        <div class=col-12 class="text-center">
          <h2>Mars Hemispheres</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <img src="{{scrape_dict.hemisphere_image_urls[1]['img_url']}}" alt="" class="img-responsive">
          <P>{{scrape_dict.hemisphere_image_urls[1]['title']}}</P>


          <img src="{{scrape_dict.hemisphere_image_urls[2]['img_url']}}" alt="" class="img-responsive">
          <P>{{scrape_dict.hemisphere_image_urls[2]['title']}}</P>

        </div>
        <div class="col-md-6">

          <img src="{{scrape_dict.hemisphere_image_urls[3]['img_url']}}" alt="" class="img-responsive">
          <P>{{scrape_dict.hemisphere_image_urls[3]['title']}}</P>


          <img src="{{scrape_dict.hemisphere_image_urls[0]['img_url']}}" alt="" class="img-responsive">
          <P>{{scrape_dict.hemisphere_image_urls[0]['title']}}</P>
        </div>
        <div class="row">
          <div><a href="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars">Read
              More</a></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Add to bottom of each body -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
</body>

</html>x