<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scrape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Listings -->
    <div class="container">

      <div class="jumbotron text-left">
        <div class="row" id="mars_news">
          <div class="col-md-12">
            <h2 class="heading">Latest Mars News</h2>
            <h4>{{scrape_dict.mars_news.news_title}}</h4>
            <small>{{scrape_dict.mars_news.news_date}}</small>
            <p>{{scrape_dict.mars_news.news_p}}<a href="https://mars.nasa.gov/news " target="__blank"> visit source</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h2>Top Mars Image</h2>
            <img src="{{scrape_dict.top_img_url}}" alt="top mars image" class="img-responsive">
            <p>
              <small>
                <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" target="__blank">visit source</a>
              </small>
            </p>
          </div>
          <div class="col-md-6">
            <h2>Current Weather on Mars</h2>
            <small>{{scrape_dict.mars_weather}}</small>
            <h2>Mars Facts</h2>
            {{scrape_dict.html_table}}
          </div>


        </div>
        <div class="row">
          <div class=col-12 class="text-center">
            <h2>Mars Hemispheres</h2>
          </div>
          <div class="col-md-5">
            <div class="card">
              <img src="{{scrape_dict.hemisphere_image_urls[1]['img_url']}}" alt="" class="img-responsive">
              <P>{{scrape_dict.hemisphere_image_urls[1]['title']}}</P>
            </div>
            <div class="card">
              <img src="{{scrape_dict.hemisphere_image_urls[2]['img_url']}}" alt="" class="img-responsive">
              <P>{{scrape_dict.hemisphere_image_urls[2]['title']}}</P>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <img src="{{scrape_dict.hemisphere_image_urls[3]['img_url']}}" alt="" class="img-responsive">
              <P>{{scrape_dict.hemisphere_image_urls[3]['title']}}</P>
            </div>
            <div class="card">
              <img src="{{scrape_dict.hemisphere_image_urls[0]['img_url']}}" alt="" class="img-responsive">
              <P>{{scrape_dict.hemisphere_image_urls[0]['title']}}</P>
            </div>
          </div>
          <div><a href="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars">Read
              More</a></div>
        </div>
      </div>

    </div>
</body>

</html>